<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- propetry list intened for /Library/LaunchAgents/ on OS X -->
<!-- http://stackoverflow.com/questions/22842016/launch-shell-script-on-login-in-mac-os-os-x -->
<plist version="1.0">
<dict>
    <key>Label</key>    
    <!-- USER LABEL ID -->
    <string>loginScriptsTest</string>
    <key>ProgramArguments</key>
    <array>
        <!-- PATH TO SCRIPT -->
        <string>/Users/mountShare.sh</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
	
